# Capstone Project : Yelp's Customized Recommender (Part 3) - Data Transformation III

**Prepared by:** Daniel Han<br>
**Prepared for:** Brainstation

### 5.2.3 Further Data Cleaning

The combined data is further cleaned to be ready for analysis.

#### Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Show all columns
pd.set_option('display.max_columns', None)

# Show all rows
pd.set_option('display.max_rows',None)

#### Read in csv

The combined dataset is read in and cleaned further. *pandas.read_csv* method is used to read in.

In [3]:
# Read in csv data
df = pd.read_csv('yelp.csv', index_col = 0)

In [4]:
# Display combined table
df.head()

,review_id,user_id,business_id,stars,text,date,user_review_count,yelping_since,userful_count,funny_count,cool_count,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,elite_count,friend_count,name,city,state,postal_code,latitude,longitude,business_rating,business_review_count,is_open,Alcohol,BikeParking,BusinessAcceptsCreditCards,ByAppointmentOnly,Caters,GoodForKids,HasTV,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange,RestaurantsReservations,RestaurantsTakeOut,WiFi,casual,classy,divey,garage,hipster,intimate,lot,romantic,street,touristy,trendy,upscale,valet,validated,Active Life,American (Traditional),Automotive,Bars,Beauty & Spas,Event Planning & Services,Food,Health & Medical,Home Services,Local Services,Nightlife,Restaurants,Sandwiches,Shopping,Monday_start_time,Monday_end_time,Tuesday_start_time,Tuesday_end_time,Wednesday_start_time,Wednesday_end_time,Thursday_start_time,Thursday_end_time,Friday_start_time,Friday_end_time,Saturday_start_time,Saturday_end_time,checkin_count
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,33.0,2016-01-13 17:20:44,32.0,3.0,8.0,0.0,4.06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,12.0,Turning Point of North Wales,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1,Unknown,False,True,Unknown,False,True,False,average,True,casual,True,True,2.0,False,True,free,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,177.0
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,10.0,2011-03-07 19:45:15,6.0,1.0,2.0,0.0,4.30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,134.0,Body Cycle Spinning Studio,Philadelphia,PA,19119,39.952103,-75.172753,5.0,144,0,Unknown,True,True,False,Unknown,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,2.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,False,Unknown,Unknown,False,Unknown,True,Unknown,Unknown,Unknown,False,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06:30:00,20:30:00,06:30:00,20:30:00,06:00:00,20:30:00,06:30:00,20:30:00,06:00:00,19:30:00,07:30:00,12:30:00,497.0
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,1332.0,2012-09-04 23:57:25,1660.0,675.0,1300.0,58.0,4.69,16.0,14.0,3.0,1.0,1.0,63.0,96.0,86.0,86.0,49.0,27.0,9.0,119.0,Kettle Restaurant,Tucson,AZ,85713,32.207233,-110.980864,3.5,47,1,Unknown,True,True,Unknown,False,True,True,average,False,casual,True,True,1.0,True,True,free,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,9.0,2014-01-17 19:20:57,1.0,0.0,1.0,0.0,4.78,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,Zaika,Philadelphia,PA,19114,40.079848,-75.025080,4.0,181,1,Unknown,True,True,False,True,True,False,average,False,casual,Unknown,True,2.0,True,True,no,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,22:00:00,11:00:00,22:00:00,204.0
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,126.0,2008-04-17 13:39:54,74.0,20.0,12.0,0.0,2.97,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,NaN,1.0,Melt,New Orleans,LA,70119,29.962102,-90.087958,4.0,32,0,full_bar,False,True,Unknown,True,True,True,Unknown,True,casual,False,True,2.0,False,True,free,False,False,False,False,False,False,False,False,True,False,False,False,False,False,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,00:00:00,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,11:00:00,17:00:00,NaN,NaN,55.0

In [5]:
# Review shape of dataframe
df.shape

(6990280, 92)

In [6]:
# Change all columns to lowercase
df = df.rename(columns=str.lower)

#### Correct Datatype & Drop Null Values

The datatype is reviewed and corrected as needed.

In [7]:
# Review datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6990280 entries, 0 to 6990279
Data columns (total 92 columns):
 #   Column                      Dtype
---  ------                      -----
 0   review_id                   object
 1   user_id                     object
 2   business_id                 object
 3   stars                       int64
 4   text                        object
 5   date                        object
 6   user_review_count           float64
 7   yelping_since               object
 8   userful_count               float64
 9   funny_count                 float64
 10  cool_count                  float64
 11  fans                        float64
 12  average_stars               float64
 13  compliment_hot              float64
 14  compliment_more             float64
 15  compliment_profile          float64
 16  compliment_cute             float64
 17  compliment_list             float64
 18  compliment_note             float64
 19  compliment_plain            float64
 20  compliment_cool             float64
 21  compliment_funny            float64
 22  compliment_writer           float64
 23  compliment_photos           float64
 24  elite_count                 float64
 25  friend_count                float64
 26  name                        object
 27  city                        object
 28  state                       object
 29  postal_code                 object
 30  latitude                    float64
 31  longitude                   float64
 32  business_rating             float64
 33  business_review_count       int64
 34  is_open                     int64
 35  alcohol                     object
 36  bikeparking                 object
 37  businessacceptscreditcards  object
 38  byappointmentonly           object
 39  caters                      object
 40  goodforkids                 object
 41  hastv                       object
 42  noiselevel                  object
 43  outdoorseating              object
 44  restaurantsattire           object
 45  restaurantsdelivery         object
 46  restaurantsgoodforgroups    object
 47  restaurantspricerange       float64
 48  restaurantsreservations     object
 49  restaurantstakeout          object
 50  wifi                        object
 51  casual                      object
 52  classy                      object
 53  divey                       object
 54  garage                      object
 55  hipster                     object
 56  intimate                    object
 57  lot                         object
 58  romantic                    object
 59  street                      object
 60  touristy                    object
 61  trendy                      object
 62  upscale                     object
 63  valet                       object
 64  validated                   object
 65  active life                 float64
 66  american (traditional)      float64
 67  automotive                  float64
 68  bars                        float64
 69  beauty & spas               float64
 70  event planning & services   float64
 71  food                        float64
 72  health & medical            float64
 73  home services               float64
 74  local services              float64
 75  nightlife                   float64
 76  restaurants                 float64
 77  sandwiches                  float64
 78  shopping                    float64
 79  monday_start_time           object
 80  monday_end_time             object
 81  tuesday_start_time          object
 82  tuesday_end_time            object
 83  wednesday_start_time        object
 84  wednesday_end_time          object
 85  thursday_start_time         object
 86  thursday_end_time           object
 87  friday_start_time           object
 88  friday_end_time             object
 89  saturday_start_time         object
 90  saturday_end_time           object
 91  checkin_count               float64
dtypes: float64(38), int64(3), object(51)
memory usage: 4.8+ GB

The binary columns and other integer columns that are of float datatype are likely because some of the rows are NaNs. The proportions of NaNs are reviewed.

In [8]:
df.isna().mean()

review_id                     0.000000
user_id                       0.000000
business_id                   0.000000
stars                         0.000000
text                          0.000000
date                          0.000000
user_review_count             0.000005
yelping_since                 0.000005
userful_count                 0.000005
funny_count                   0.000005
cool_count                    0.000005
fans                          0.000005
average_stars                 0.000005
compliment_hot                0.000005
compliment_more               0.000005
compliment_profile            0.000005
compliment_cute               0.000005
compliment_list               0.000005
compliment_note               0.000005
compliment_plain              0.000005
compliment_cool               0.000005
compliment_funny              0.000005
compliment_writer             0.000005
compliment_photos             0.000005
elite_count                   0.753135
friend_count                  0.000005
name                          0.000000
city                          0.000000
state                         0.000000
postal_code                   0.000139
latitude                      0.000000
longitude                     0.000000
business_rating               0.000000
business_review_count         0.000000
is_open                       0.000000
alcohol                       0.000000
bikeparking                   0.000000
businessacceptscreditcards    0.000000
byappointmentonly             0.000000
caters                        0.000000
goodforkids                   0.000000
hastv                         0.000000
noiselevel                    0.000000
outdoorseating                0.000000
restaurantsattire             0.000000
restaurantsdelivery           0.000000
restaurantsgoodforgroups      0.000000
restaurantspricerange         0.000000
restaurantsreservations       0.000000
restaurantstakeout            0.000000
wifi                          0.000000
casual                        0.000000
classy                        0.000000
divey                         0.000000
garage                        0.000000
hipster                       0.000000
intimate                      0.000000
lot                           0.000000
romantic                      0.000000
street                        0.000000
touristy                      0.000000
trendy                        0.000000
upscale                       0.000000
valet                         0.000000
validated                     0.000000
active life                   0.000099
american (traditional)        0.000099
automotive                    0.000099
bars                          0.000099
beauty & spas                 0.000099
event planning & services     0.000099
food                          0.000099
health & medical              0.000099
home services                 0.000099
local services                0.000099
nightlife                     0.000099
restaurants                   0.000099
sandwiches                    0.000099
shopping                      0.000099
monday_start_time             0.163776
monday_end_time               0.163776
tuesday_start_time            0.132970
tuesday_end_time              0.132970
wednesday_start_time          0.088567
wednesday_end_time            0.088567
thursday_start_time           0.068379
thursday_end_time             0.068379
friday_start_time             0.064743
friday_end_time               0.064743
saturday_start_time           0.099902
saturday_end_time             0.099902
checkin_count                 0.027664
dtype: float64

Some columns have low proportions of NaNs (<0.0001 or <0.01%). These rows are removed from the data set.

In [9]:
# Column names for which NaN are to be dropped.
cols_drop_na = list(df.loc[:3, 'user_review_count':'compliment_photos'].columns)

In [10]:
# Column names for which NaN are to be dropped.
cols_drop_na.extend(list(df.loc[:3, ['friend_count']].columns))
cols_drop_na.extend(list(df.loc[:3, ['postal_code']].columns))
cols_drop_na.extend(list(df.loc[:3, 'active life' : 'shopping'].columns))
cols_drop_na.extend(list(df.loc[:3, ['checkin_count']].columns))

# Columns for which rows containing NaNs are to be dropped
cols_drop_na

['user_review_count',
 'yelping_since',
 'userful_count',
 'funny_count',
 'cool_count',
 'fans',
 'average_stars',
 'compliment_hot',
 'compliment_more',
 'compliment_profile',
 'compliment_cute',
 'compliment_list',
 'compliment_note',
 'compliment_plain',
 'compliment_cool',
 'compliment_funny',
 'compliment_writer',
 'compliment_photos',
 'friend_count',
 'postal_code',
 'active life',
 'american (traditional)',
 'automotive',
 'bars',
 'beauty & spas',
 'event planning & services',
 'food',
 'health & medical',
 'home services',
 'local services',
 'nightlife',
 'restaurants',
 'sandwiches',
 'shopping',
 'checkin_count']

The rows containing NaNs under the above columns are dropped.

In [11]:
# Drop rows containing NaNs under cols_drop_na
df.dropna(axis = 0, how = 'any', subset = cols_drop_na, inplace = True)

The *yelping_since* and *postal_code* columns do not need datatype conversions, threfore are removed from the cols_drop_na list.

In [12]:
# Remove column names for which datatype need not be changed.
cols_drop_na.remove('yelping_since')
cols_drop_na.remove('postal_code')

In [13]:
# Convert data type to integers
df[cols_drop_na] = df[cols_drop_na].astype('int32')

Another column, called 'elite_count' contains upwards of 75% of NaNs. This is deemed significantly high, therefore this column is dropped.

In [14]:
# Drop elite_count
df.drop(columns = 'elite_count', inplace = True)

The proportion of the rows where the entire columns associated with the operation hour are null is calculated,

In [15]:
# Proportion of  rows where all columns regarding operation hours are null
df.loc[:,'monday_start_time' : 'saturday_end_time'].isnull().all(axis = 1).sum() / len(df)

0.054135400303865266

5% is non-trivial. Since there is no information about the operation hours, the missing values are replaced with the median opening & closing hours.

In [16]:
# Names of columns
business_hour_cols = df.loc[:, 'monday_start_time' : 'saturday_end_time'].columns
business_hour_cols

Index(['monday_start_time', 'monday_end_time', 'tuesday_start_time',
       'tuesday_end_time', 'wednesday_start_time', 'wednesday_end_time',
       'thursday_start_time', 'thursday_end_time', 'friday_start_time',
       'friday_end_time', 'saturday_start_time', 'saturday_end_time'],
      dtype='object')

In [17]:
# Create an empty dictionary
median_hour = {}

# For each business hour column, find the median hour
for col in business_hour_cols:
    hours = list(df[col].sort_values(ascending = True).values) # Create a list of hour in ascending order
    median_hour[col] = hours[len(hours) // 2] # Select median from list

median_hour

{'monday_start_time': '10:00:00',
 'monday_end_time': '19:00:00',
 'tuesday_start_time': '11:00:00',
 'tuesday_end_time': '21:00:00',
 'wednesday_start_time': '11:00:00',
 'wednesday_end_time': '21:00:00',
 'thursday_start_time': '11:00:00',
 'thursday_end_time': '21:00:00',
 'friday_start_time': '11:00:00',
 'friday_end_time': '20:30:00',
 'saturday_start_time': '11:00:00',
 'saturday_end_time': '21:00:00'}

In [18]:
# Fill NaN with median hours where all columns regarding operation hours are NaN
df[df.loc[:,'monday_start_time' : 'saturday_end_time'].isnull().all(axis = 1)] = df.fillna(median_hour)

In [19]:
# Show maximum 10 rows
pd.set_option('display.max_rows', 10)

Similar to the rows entirely filled with NaNs under business hours, for any row with NaN values for more than one day (i.e., any row more than 2 NaN values under business hours), the NaNs are replaced with median hours.

In [20]:
# Proportion of rows where NaN appears for more than one day of the week
len(df[df[business_hour_cols].isnull().sum(axis = 1) > 2]) / len(df)

0.05368497338419827

In [21]:
# Import datetime library 
import datetime

# Replace NaNs with median hours where NaNs appear for more than one day of the week
df[df.loc[:,'monday_start_time' : 'saturday_end_time'].isnull().sum(axis = 1) > 2] = df.fillna(median_hour)

Next, it is assumed that, for any row containing NaNs for just one day of the week, that day is closed. For such rows, the NaNs are replaced with 0:00 to indicate no operation.

In [22]:
# Display table
df[business_hour_cols]

,monday_start_time,monday_end_time,tuesday_start_time,tuesday_end_time,wednesday_start_time,wednesday_end_time,thursday_start_time,thursday_end_time,friday_start_time,friday_end_time,saturday_start_time,saturday_end_time
0,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00
1,06:30:00,20:30:00,06:30:00,20:30:00,06:00:00,20:30:00,06:30:00,20:30:00,06:00:00,19:30:00,07:30:00,12:30:00
2,10:00:00,19:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,20:30:00,11:00:00,21:00:00
3,NaN,NaN,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,22:00:00,11:00:00,22:00:00
4,00:00:00,00:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,17:00:00,11:00:00,21:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
6990275,00:00:00,00:00:00,09:00:00,18:00:00,09:00:00,18:00:00,09:00:00,18:00:00,09:00:00,18:00:00,09:00:00,15:00:00
6990276,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00
6990277,00:00:00,00:00:00,06:00:00,22:00:00,06:00:00,22:00:00,06:00:00,18:00:00,09:00:00,20:00:00,06:00:00,22:00:00
6990278,00:00:00,00:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,20:00:00,12:00:00,20:00:00
6990279,11:00:00,21:30:00,11:00:00,21:30:00,11:00:00,21:30:00,11:00:00,21:30:00,11:00:00,21:30:00,11:00:00,21:30:00

In [25]:
# Proportion of rows where NaN appears for just one day of the week
len(df[df[business_hour_cols].isnull().sum(axis = 1) == 2]) / len(df)

0.13661017323263352

In [26]:
# Replace NaNs with 00:00:00 where NaNs appear for just one day of the week
df.loc[df[business_hour_cols].isnull().sum(axis = 1) == 2, business_hour_cols] = df.fillna(datetime.time(0,0))

Now all the columns are reviewed again for any null values.

In [27]:
# Change settings to show all rows.
pd.set_option('display.max_rows', None)

In [28]:
# Review proportions of null values
df.isna().mean()

review_id                     0.0
user_id                       0.0
business_id                   0.0
stars                         0.0
text                          0.0
date                          0.0
user_review_count             0.0
yelping_since                 0.0
userful_count                 0.0
funny_count                   0.0
cool_count                    0.0
fans                          0.0
average_stars                 0.0
compliment_hot                0.0
compliment_more               0.0
compliment_profile            0.0
compliment_cute               0.0
compliment_list               0.0
compliment_note               0.0
compliment_plain              0.0
compliment_cool               0.0
compliment_funny              0.0
compliment_writer             0.0
compliment_photos             0.0
friend_count                  0.0
name                          0.0
city                          0.0
state                         0.0
postal_code                   0.0
latitude                      0.0
longitude                     0.0
business_rating               0.0
business_review_count         0.0
is_open                       0.0
alcohol                       0.0
bikeparking                   0.0
businessacceptscreditcards    0.0
byappointmentonly             0.0
caters                        0.0
goodforkids                   0.0
hastv                         0.0
noiselevel                    0.0
outdoorseating                0.0
restaurantsattire             0.0
restaurantsdelivery           0.0
restaurantsgoodforgroups      0.0
restaurantspricerange         0.0
restaurantsreservations       0.0
restaurantstakeout            0.0
wifi                          0.0
casual                        0.0
classy                        0.0
divey                         0.0
garage                        0.0
hipster                       0.0
intimate                      0.0
lot                           0.0
romantic                      0.0
street                        0.0
touristy                      0.0
trendy                        0.0
upscale                       0.0
valet                         0.0
validated                     0.0
active life                   0.0
american (traditional)        0.0
automotive                    0.0
bars                          0.0
beauty & spas                 0.0
event planning & services     0.0
food                          0.0
health & medical              0.0
home services                 0.0
local services                0.0
nightlife                     0.0
restaurants                   0.0
sandwiches                    0.0
shopping                      0.0
monday_start_time             0.0
monday_end_time               0.0
tuesday_start_time            0.0
tuesday_end_time              0.0
wednesday_start_time          0.0
wednesday_end_time            0.0
thursday_start_time           0.0
thursday_end_time             0.0
friday_start_time             0.0
friday_end_time               0.0
saturday_start_time           0.0
saturday_end_time             0.0
checkin_count                 0.0
dtype: float64

All the null values have been addressed and there is none left. Knowing that there are no null values, the datatypes of some of the columns can now be changed to those more appropriate.

In [29]:
# Changing the datatypes of business rating and restaurant price range to integers.
df[['business_rating', 'restaurantspricerange']] = df[['business_rating', 'restaurantspricerange']].astype('int32')

In [30]:
# Changing the datatypes of the 'yelping_since' and 'date' columns to datetimes
df['yelping_since'] = pd.to_datetime(df['yelping_since'])
df['date'] = pd.to_datetime(df['date'])

In [31]:
# Review datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6795775 entries, 0 to 6990279
Data columns (total 91 columns):
 #   Column                      Dtype
---  ------                      -----
 0   review_id                   object
 1   user_id                     object
 2   business_id                 object
 3   stars                       int64
 4   text                        object
 5   date                        datetime64[ns]
 6   user_review_count           int32
 7   yelping_since               datetime64[ns]
 8   userful_count               int32
 9   funny_count                 int32
 10  cool_count                  int32
 11  fans                        int32
 12  average_stars               int32
 13  compliment_hot              int32
 14  compliment_more             int32
 15  compliment_profile          int32
 16  compliment_cute             int32
 17  compliment_list             int32
 18  compliment_note             int32
 19  compliment_plain            int32
 20  compliment_cool             int32
 21  compliment_funny            int32
 22  compliment_writer           int32
 23  compliment_photos           int32
 24  friend_count                int32
 25  name                        object
 26  city                        object
 27  state                       object
 28  postal_code                 object
 29  latitude                    float64
 30  longitude                   float64
 31  business_rating             int32
 32  business_review_count       int64
 33  is_open                     int64
 34  alcohol                     object
 35  bikeparking                 object
 36  businessacceptscreditcards  object
 37  byappointmentonly           object
 38  caters                      object
 39  goodforkids                 object
 40  hastv                       object
 41  noiselevel                  object
 42  outdoorseating              object
 43  restaurantsattire           object
 44  restaurantsdelivery         object
 45  restaurantsgoodforgroups    object
 46  restaurantspricerange       int32
 47  restaurantsreservations     object
 48  restaurantstakeout          object
 49  wifi                        object
 50  casual                      object
 51  classy                      object
 52  divey                       object
 53  garage                      object
 54  hipster                     object
 55  intimate                    object
 56  lot                         object
 57  romantic                    object
 58  street                      object
 59  touristy                    object
 60  trendy                      object
 61  upscale                     object
 62  valet                       object
 63  validated                   object
 64  active life                 int32
 65  american (traditional)      int32
 66  automotive                  int32
 67  bars                        int32
 68  beauty & spas               int32
 69  event planning & services   int32
 70  food                        int32
 71  health & medical            int32
 72  home services               int32
 73  local services              int32
 74  nightlife                   int32
 75  restaurants                 int32
 76  sandwiches                  int32
 77  shopping                    int32
 78  monday_start_time           object
 79  monday_end_time             object
 80  tuesday_start_time          object
 81  tuesday_end_time            object
 82  wednesday_start_time        object
 83  wednesday_end_time          object
 84  thursday_start_time         object
 85  thursday_end_time           object
 86  friday_start_time           object
 87  friday_end_time             object
 88  saturday_start_time         object
 89  saturday_end_time           object
 90  checkin_count               int32
dtypes: datetime64[ns](2), float64(2), int32(35), int64(3), object(49)
memory usage: 4.0+ GB

#### Check for Duplicates

In [32]:
# Change settings to show just 10 rows
pd.set_option('display.max_rows', 10)

Next the dataset is checked to see if there are any duplicated rows.

In [33]:
# Duplicated rows
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
6990275    False
6990276    False
6990277    False
6990278    False
6990279    False
Length: 6795775, dtype: bool

In [34]:
# Sum of all booleans above
df.duplicated().sum()

0

There are no duplicated rows. From visual inspection, there are also no duplicated columns.

#### Ranges of Numerical Values

The descriptive statistics of the numerical variables of the dataframe are reviewed. The datetime variables are also considered as numerical variables.

In [35]:
# Review descriptive statistics
df.describe(datetime_is_numeric = True)

,stars,date,user_review_count,yelping_since,userful_count,funny_count,cool_count,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,friend_count,latitude,longitude,business_rating,business_review_count,is_open,restaurantspricerange,active life,american (traditional),automotive,bars,beauty & spas,event planning & services,food,health & medical,home services,local services,nightlife,restaurants,sandwiches,shopping,checkin_count
count,6.795775e+06,6795775,6.795775e+06,6795775,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06,6.795775e+06
mean,3.756087e+00,2016-12-31 17:08:44.144802816,1.261666e+02,2013-10-09 16:18:20.807312384,4.367157e+02,1.797275e+02,2.962235e+02,1.347341e+01,3.330019e+00,1.735215e+01,2.417240e+00,1.596421e+00,1.016400e+00,6.872577e-01,1.635940e+01,4.510339e+01,3.096860e+01,3.096860e+01,1.131834e+01,1.328661e+01,1.240207e+02,3.592998e+01,-8.969754e+01,3.509055e+00,3.790639e+02,8.264163e-01,1.897218e+00,2.971022e-02,1.487582e-01,3.248033e-02,2.140467e-01,5.286196e-02,8.791624e-02,2.659710e-01,2.652045e-02,2.196203e-02,2.418620e-02,2.263171e-01,6.937597e-01,1.016855e-01,7.301198e-02,8.206964e+02
min,1.000000e+00,2005-02-16 03:23:22,0.000000e+00,2004-10-12 08:46:11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.755513e+01,-1.200951e+02,1.000000e+00,5.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,3.000000e+00,2015-01-12 21:37:21,7.000000e+00,2011-07-12 17:28:28.500000,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.996375e+01,-9.030039e+01,3.000000e+00,4.800000e+01,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.100000e+01
50%,4.000000e+00,2017-05-21 17:03:47,2.500000e+01,2013-08-25 17:24:26,1.900000e+01,3.000000e+00,5.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,3.860241e+01,-8.622082e+01,4.000000e+00,1.430000e+02,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.270000e+02
75%,5.000000e+00,2019-05-12 19:45:01,1.010000e+02,2015-11-16 01:33:30,1.150000e+02,2.500000e+01,4.100000e+01,4.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,2.000000e+00,1.000000e+00,1.110000e+02,3.994232e+01,-7.550617e+01,4.000000e+00,3.760000e+02,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,7.390000e+02
max,5.000000e+00,2022-01-19 19:48:45,1.747300e+04,2022-01-19 17:15:47,2.062960e+05,1.858230e+05,1.998780e+05,1.249700e+04,5.000000e+00,2.578400e+04,1.350100e+04,1.418000e+04,1.365400e+04,1.266900e+04,5.903100e+04,1.010970e+05,4.996700e+04,4.996700e+04,1.593400e+04,8.263000e+04,1.499500e+04,5.367920e+01,-7.320046e+01,5.000000e+00,7.568000e+03,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.214400e+04
std,1.466123e+00,NaN,3.667498e+02,NaN,3.260971e+03,2.017386e+03,2.790736e+03,8.809147e+01,8.959174e-01,2.068391e+02,3.185078e+01,4.051497e+01,2.492154e+01,2.226125e+01,1.616457e+02,5.527640e+02,3.295864e+02,3.295864e+02,1.125970e+02,2.750536e+02,4.121305e+02,5.347289e+00,1.483181e+01,7.657040e-01,7.441363e+02,3.787512e-01,5.115859e-01,1.697867e-01,3.558500e-01,1.772720e-01,4.101594e-01,2.237579e-01,2.831731e-01,4.418489e-01,1.606771e-01,1.465595e-01,1.536269e-01,4.184468e-01,4.609308e-01,3.022343e-01,2.601562e-01,2.350166e+03

The values appear reasonable.

#### Dropping and Rearranging Columns

It was determined that insights that can be drawn from the postal code of a business can be better drawn from other information such as the city or GPS coordinates, therefore the postal code column is dropped.

In [36]:
# Drop column 'postal_code'
df.drop(columns = 'postal_code', inplace = True)

#### Cleaned Data Set

The cleaned dataframe is as follows:

In [37]:
# Cleand Dataframe
df.head()

,review_id,user_id,business_id,stars,text,date,user_review_count,yelping_since,userful_count,funny_count,cool_count,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,friend_count,name,city,state,latitude,longitude,business_rating,business_review_count,is_open,alcohol,bikeparking,businessacceptscreditcards,byappointmentonly,caters,goodforkids,hastv,noiselevel,outdoorseating,restaurantsattire,restaurantsdelivery,restaurantsgoodforgroups,restaurantspricerange,restaurantsreservations,restaurantstakeout,wifi,casual,classy,divey,garage,hipster,intimate,lot,romantic,street,touristy,trendy,upscale,valet,validated,active life,american (traditional),automotive,bars,beauty & spas,event planning & services,food,health & medical,home services,local services,nightlife,restaurants,sandwiches,shopping,monday_start_time,monday_end_time,tuesday_start_time,tuesday_end_time,wednesday_start_time,wednesday_end_time,thursday_start_time,thursday_end_time,friday_start_time,friday_end_time,saturday_start_time,saturday_end_time,checkin_count
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,33,2016-01-13 17:20:44,32,3,8,0,4,0,0,0,0,0,0,0,1,1,0,0,12,Turning Point of North Wales,North Wales,PA,40.210196,-75.223639,3,169,1,Unknown,False,True,Unknown,False,True,False,average,True,casual,True,True,2,False,True,free,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0,0,0,0,0,0,1,0,0,0,0,1,1,0,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,07:30:00,15:00:00,177
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,10,2011-03-07 19:45:15,6,1,2,0,4,0,0,0,0,0,0,0,0,0,0,0,134,Body Cycle Spinning Studio,Philadelphia,PA,39.952103,-75.172753,5,144,0,Unknown,True,True,False,Unknown,False,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,2,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,False,Unknown,Unknown,False,Unknown,True,Unknown,Unknown,Unknown,False,False,1,0,0,0,0,0,0,0,0,0,0,0,0,0,06:30:00,20:30:00,06:30:00,20:30:00,06:00:00,20:30:00,06:30:00,20:30:00,06:00:00,19:30:00,07:30:00,12:30:00,497
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,1332,2012-09-04 23:57:25,1660,675,1300,58,4,16,14,3,1,1,63,96,86,86,49,27,119,Kettle Restaurant,Tucson,AZ,32.207233,-110.980864,3,47,1,Unknown,True,True,Unknown,False,True,True,average,False,casual,True,True,1,True,True,free,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0,0,0,0,0,0,0,0,0,0,0,1,0,0,10:00:00,19:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,20:30:00,11:00:00,21:00:00,56
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,9,2014-01-17 19:20:57,1,0,1,0,4,0,1,0,0,0,0,0,0,0,0,0,1,Zaika,Philadelphia,PA,40.079848,-75.025080,4,181,1,Unknown,True,True,False,True,True,False,average,False,casual,Unknown,True,2,True,True,no,True,False,False,False,False,False,True,False,False,False,False,False,False,False,0,0,0,0,0,0,0,0,0,0,0,1,0,0,00:00:00,00:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,22:00:00,11:00:00,22:00:00,204
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,126,2008-04-17 13:39:54,74,20,12,0,2,0,0,0,0,0,0,1,0,0,2,1,1,Melt,New Orleans,LA,29.962102,-90.087958,4,32,0,full_bar,False,True,Unknown,True,True,True,Unknown,True,casual,False,True,2,False,True,free,False,False,False,False,False,False,False,False,True,False,False,False,False,False,0,1,0,1,0,0,1,0,0,0,1,1,1,0,00:00:00,00:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,21:00:00,11:00:00,17:00:00,11:00:00,21:00:00,55

From this dataframe

In [38]:
# Shape of Cleaned dataframe
df.shape

(6795775, 90)

It is to be noted that, while the data set is cleaned, the dataframe has yet to be transformed further to suit the purposes of the future analysis.

#### Save to csv

The cleaned dataset is saved as csv as a checkpoint in the local directory and is further cleaned in the following notebook.

In [39]:
# Save Pandas dataframe as csv
df.to_csv('yelp_cleaned.csv')